body{
	direction:rtl;
	background:gray;
}
.name{
	color:blue;
	font-size:20px;
	font-family:tahoma;
	text-align:center;
	
}
#myId{
	color:"red";
	font-size:40;
	font-family:tahoma;
	font-style:italic;
	text-align:center;
	
}
#myId:hover{
	background:#fff;
	color:blue;
}
.boga{
	
	margin-left:500px;
	margin-right:500px;
}
.cola{
	background:yellow;
}
ul{
	list-style:none;
}